l-dev
**/*.o
**/*.hi
dist
dist-*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
dist/
*.prof
*.aux
*.hp
*.eventlog
*.swp
**/*.swp
.DS_Store
TODO.md
.stack-work/
src/Unused
cabal.project.local
.HTF/
edgar.cabal
